{
    // directories where gex will save various things. these directories must be created if they do not already exist
    // absolute paths are preferred and the only tested method
    "FileStorage": {
        // where Gex will store all replays that are downloaded from the BAR API, or uploaded by users
        "ReplayLocation": "",
        // a place Gex can do temp work in
        "TempWorkLocation": "",
        // where Gex will store engines and game versions it downloads
        // NOTE: using an existing BAR install will not work, as Gex places things slightly differently due to OS differences
        "EngineLocation": "",
        // will Gex will store the output from replaying a match, including stdout, stderr, and the generated actions.json
        "GameLogLocation": "",
        // where Gex will store cached images from the BAR API and GitHub (unit pics, unit icons, map pics, etc.)
        "WebImageLocation": "",
        // where Gex will store files downloaded from GitHub
        "GitHubDataLocation": "",
        // where Gex will store compressed unit data
        "UnitPositionLocation": ""
    },

    "Instance": {
        // host name the web server part of Gex can be reached at. DO NOT include the http at the start
        "Host": "localhost"
    },

    // force enable or disable certain services at startup
    "Services": {
        "Enabled": {
            // for example, to disable the priority_headless_runner service (which finds unprocessed games to run when free), uncomment below
            //"priority_headless_runner": false
        }
    }
}