<meta property="og:title" content="Gex / Frequently asked Questions" />
<meta property="og:description" content="Frequently asked Questions about Gex" />

<style>

</style>

<div class="container">

    <div class="d-flex">
        <img src="/favicon-96x96.png" width="96">

        <div class="ms-3 d-flex flex-column justify-content-center">
            <h2>Gex</h2>
        </div>
    </div>

    <hr class="border" />

    <h3>What does Gex mean?</h3>
    <p>Gex stands for Game Extractor, named after a metal extractor (mex)</p>

    <h3>What games are processed?</h3>
    <p>
        Gex downloads all public games without an AI in them. Once downloaded, Gex will parse them to get some basic information about each game.
    </p>
    <div>
        Under certain conditions, Gex will also run the replay file locally to generate in-depth stats
        <ul>
            <li>If the game has 6 or less players, is not on a metal map, and is shorter than an hour, Gex will process these games</li>
            <li>
                If the game has more than 6 players, or is on a metal map, Gex might process the game, based on a priority system.
                <br>
                Gex will prioritize games that are quicker to process. A game will be less likely to be processed if it:
                <ul>
                    <li>Is longer than 30 minutes</li>
                    <li>Is on a metal map</li>
                    <li>Is unranked</li>
                    <li>Contains only low OS players</li>
                    <li>Contains unit tweaks</li>
                    <li>Changes any of the default mod options (increased starting resources, resource multipliers, etc.)</li>
                </ul>
                Games that meet these conditions are de-prioritized as these games usually take longer to process, and Gex tries to process quicker games first
            </li>
        </ul>
    </div>
    <p>
        Users that are logged in can request Gex puts more priority on a game. A user can only prioritize one game at a time.
    </p>

    <h3 id="gamemode-demofile-ratings">Gamemode and demofile rating inconsistency</h3>
    <p>
        The demofile can contain incorrect rating information for a game depending on how the game is setup.
        <br />
        For example, if a duel is created with a team size of 8 in the lobby,
        the demofile will contain the ratings for the large team gamemode, not the duel gamemode.
    </p>

    <h3>Why are PvE games not processed?</h3>
    <p>
        PvE games take much longer on average to process than PvP games,
        and in general is not a particularly competitive format where the data Gex provides is useful (tho it may be interesting for some, sorry!)
    </p>

</div>
