<meta property="og:title" content="Gex / Home" />
<meta property="og:description" content="Beyond All Reason stat website" />

<script src="~/dist/view/mainpage/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div id="app" class="container-fluid" v-cloak>
    <mainpage></mainpage>
</div>

