@page
@model gex.Views.Home.LegalModel
@{
}

<a href="/">Homepage</a>

<div id="legal-stuff" class="text-center">
    Gex is a project created by varunda, and can be found on <a href="http://github.com/varunda/gex">GitHub</a>.
    <br>
    This game is not affiliated or endores by the BAR project or contributors.
    <br>
    All unit icons are used under the CC BY-NC-ND license, and were created by IceXuick/Floris/PtaQ. 
    <a href="https://github.com/beyond-all-reason/Beyond-All-Reason/blob/master/license_icons.txt">Link</a>
    <br>
    All unit pictures are used under the CC BY-NC-ND license, and were created by IceXuick and Floris
    <a href="https://github.com/beyond-all-reason/Beyond-All-Reason/blob/master/license_unitpics.txt">Link</a>
</div>
