<meta property="og:title" content="Gex" />
<meta property="og:description" content="Gex / Match pools" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/pools/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div id="app" class="container-fluid" v-cloak>
    <match-pools></match-pools>
</div>

