<meta property="og:title" content="Gex / Units" />
<meta property="og:description" content="View Bar units" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/units/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <units></units>
</div>
