
<meta property="og:title" content="Gex / Upload" />
<meta property="og:description" content="Upload replays to Gex" />

<script src="~/dist/view/upload/view.js" defer asp-append-version="true"></script>

<div class="container" id="app">
    <upload></upload>
</div>
