<meta property="og:title" content="Gex / Users" />
<meta property="og:description" content="Search for users" />

<script src="~/dist/view/users/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <users></users>
</div>
