<meta property="og:title" content="Gex / User" />
@if (ViewBag.OgDescription == null) {
    <meta property="og:description" content="View user info" />
} else {
    <meta property="og:description" content="@ViewBag.OgDescription" />
}

<script src="~/dist/view/user/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <user></user>
</div>
