<meta property="og:title" content="Gex / User" />
<meta property="og:description" content="User stats" />

<script src="~/dist/view/user/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <user></user>
</div>
